<a href="https://colab.research.google.com/github/Vangolds/DPDM/blob/master/Pandas_and_Data_Preprocessing_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![เดซี่.jpg]()

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import os
import pandas as pd
base_path = '/content/drive/My Drive/DWDM_material'

In [31]:
search_click = os.path.join(base_path,'search_click.csv')

In [32]:
w_restaurant = os.path.join(base_path,'w_restaurant.csv')

In [36]:
search_click1 = pd.read_csv(search_click)

In [37]:
search_click1.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [34]:
w_restaurant1 = pd.read_csv(w_restaurant)

In [35]:
w_restaurant1.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

In [38]:
search_click1.shape

(1048575, 6)

In [39]:
w_restaurant1.shape #(จน. แถว, จน. หลัก)

(246847, 32)

In [40]:
w_restaurant1.shape[0]

246847

In [41]:
search_click1['search_id'] #เรียกใช้คอลัมน์นั้น

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [42]:
 search_click1['search_id'][0] #เรียกใช้คอลัมน์นั้นตัวที่ 0

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [43]:
w_restaurant1[['name', 'city_name', 'weighted_average_rating']] #index[[#list ของคอลัมน์]]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

In [44]:
search_click1.iloc[0,1] #มองเป็นเมทริกซ์ เรียก index matrix ค่าแถวที่ หลักที่เท่าไหร่

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [45]:
search_click1.iloc[:10,:2] #slicing เลือกบางส่วนได้ แถวแรกถึงแถวที่ 10 หลักแรกถึงหลักที่ 2

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

#Missing Value

In [46]:
search_click1.isnull() #isnull check ว่าช่องนี้เป็น null รึเปล่า #null na none คือ  missing value

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [47]:
search_click1.isnull().any() #.any สรุปรวมควาามจริงทั้งหมดในด้านหลัก False คือไม่มี

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [52]:
search_click1.isnull().any().any() #ดู missing value ทั้งตาราง

True

#Handling missing values 1

In [53]:
search_click1_nm = search_click1.dropna() #หายไปกี่ตัว

In [54]:
search_click1_nm.isnull().any().any()

False

In [56]:
print(search_click1.shape)
print(search_click1_nm.shape)

(1048575, 6)
(1048206, 6)

In [57]:
search_click1.shape[0]-search_click1_nm.shape[0] #นับ จน

369

#Exercise 1 ตรวจสอบว่า การลบข้อมูล missing ออกจาก ตร w จะทำให้ข้อมูลลดลดงกี่ %

In [58]:
w_restaurant1.isnull()

           id   name  domain_id  ...  hotel_restaurant  pet_friendly  delivery
0       False  False      False  ...              True          True      True
1       False  False      False  ...              True          True      True
2       False  False      False  ...              True          True      True
3       False  False      False  ...              True          True      True
4       False  False      False  ...              True          True      True
...       ...    ...        ...  ...               ...           ...       ...
246842  False  False      False  ...              True          True      True
246843  False  False      False  ...              True          True      True
246844  False  False      False  ...              True          True      True
246845  False  False      False  ...              True          True      True
246846  False  False      False  ...              True          True      True

[246847 rows x 32 columns]

In [59]:
w_restaurant1_nm = w_restaurant1.dropna()
w_restaurant1_nm.isnull().any().any()

False

In [60]:
print(w_restaurant1.shape)
print(w_restaurant1_nm.shape)

(246847, 32)
(4, 32)

In [61]:
w_restaurant1.shape[0]-w_restaurant1_nm.shape[0]

246843

In [63]:
((w_restaurant1.shape[0]-w_restaurant1_nm.shape[0])/w_restaurant1.shape[0])*100

99.99837956304918

#Method 1.5

In [65]:
w_restaurant1.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [69]:
w_rest_dropped_avgprice = w_restaurant1.dropna(subset=['id','name','avg_price'])

In [70]:
w_rest_dropped_avgprice.head()

      id                         name  ...  pet_friendly  delivery
11    27              แพอาหารธาราบุรี  ...           NaN       NaN
67   123                  เล็กกุ้งเผา  ...           NaN       NaN
91   175                 ใต้ต้นมะม่วง  ...           NaN       NaN
129  262  Oniku Shabushabu & Yakiniku  ...           NaN       1.0
134  271                     Cafe Cha  ...           NaN       NaN

[5 rows x 32 columns]

In [71]:
w_restaurant1.dropna(subset=['id','name','avg_price'])['avg_price'].mean()

327.44728783902013

In [72]:
w_restaurant1['avg_price'].mean()

327.44728783902013

#Method 2 (replace with reasonable value)
we are replacing missing value in the number of chains with 0

In [74]:
w_restaurant1[['number_of_chains']] = w_restaurant1[['number_of_chains']].fillna(0)  #คอลัมน์นี้ ถูก fill ตัวที่ missing ด้วย 0 ทำไม 0 จึงเหมาะสม

In [75]:
w_restaurant1.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

#Method2.1 (replace withunknow value)
ใส่ค่าไม่น่าเป็นจริงเช่น -99

#Method2.2 (replace with mean value)

#Method3 
แทนข้อมูลที่สูญหายด้วย ค่าเฉลี่ยข้อมูลที่อยู่ในคลาสเดียวกัน

In [ ]:
new_table[selected_list].head() #ดูแค่หัวตาราง

In [ ]:
selected_list = new_table['city_name']== 'Bangkok Metropolitan Region' #ไม่ใช่อันนี้จะเป็น false
selected_list

In [ ]:
new_table[selected_list].head()

#HW9 หาราคาเฉลี่ยของร้านค้าใน ภูเก็ต และเติมแทนค่า missing ของจังหวัดภูเก็ต